* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: #fff;
    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
}

@font-face {
    font-family: 'Fredoka';
    src: url('fonts/fredoka.ttf') format('truetype');
}

@font-face {
    font-family: 'material-icons-round';
    src: url('fonts/material-icons-round.otf') format('opentype');
}

.icon {
    font-family: 'material-icons-round';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    vertical-align: -0.2em;
    display: inline-block;
}

.icon.spin {
    animation: spin-ani 3s linear infinite;
}

@keyframes spin-ani {
    100% {
        transform: rotate(360deg);
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}
