$border-top: 2px
$border-bottom: 3px
$darken-warning: 5%

.theme__basic-light
    background: #f0f0f0

    .status
        color: $color-white
        background: $color-info
        border-top: $border-top solid $color-info-light
        border-bottom: $border-bottom solid $color-info-dark
        margin-top: 10px

        &:first-child
            margin-top: 0

        &.success
            background: $color-success
            border-top: $border-top solid $color-success-light
            border-bottom: $border-bottom solid $color-success-dark

        &.warning
            background: darken($color-warning, $darken-warning)
            border-top: $border-top solid  darken($color-warning-light, $darken-warning)
            border-bottom: $border-bottom solid  darken($color-warning-dark, $darken-warning)

        &.error
            background: $color-error
            border-top: $border-top solid $color-error-light
            border-bottom: $border-bottom solid $color-error-dark
