.theme__material-design
    background: #607D8B

    .status
        color: $color-white
        background: #03A9F4

        &.success
            background: #4CAF50

        &.warning
            background: #FFC107

        &.error
            background: #F44336
