# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Global editor config
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Makefiles must have tabs
[Makefile]
indent_style = tab
