# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Global editor config
[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# Yaml files indent with 2 spaces due to their weird array syntax
[*.{yaml,yml,md}]
indent_style = spaces
indent_size = 2
