{
    "env": {
        "amd": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/strongly-recommended",
        "prettier",
    ],
    "parserOptions": {
        "ecmaVersion": "2018",
        "sourceType": "module",
    },
    "plugins": [
        "json",
        "prettier",
        "vue",
    ],
    "rules": {
        "prettier/prettier": "error",
    }
}

