/.idea/
/cypress/videos/
/dashboard/
/node_modules/
/logs/
/config/saved-statuses.json
/config/config.json
/Dockerfile
/.dockerignore
/docker-compose.yml
/yarn-error.log

# Files needed to use Firebase as a backend. See the README for more info.
.env
config/serviceAccountKey.json
