* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background: url('https://c4.staticflickr.com/3/2909/14831394931_83c79b508e_b.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Coda', cursive;
}

.overlay-success,
.overlay-started,
.overlay-failure,
.statuses {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

.overlay-success {
    background: rgba(135, 192, 86, .3);
}

.overlay-started {
    background: rgba(255, 204, 102, .3);
}

.overlay-failure {
    background: rgba(236, 122, 96, .3);
}

.statuses {
    overflow: hidden;
}

.status {
    position: relative;
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    height: 90px;
}
.status:first-child {
    margin-top: 20px;
}

.status-success {
    color: rgb(23, 55, 23);
    background: rgba(135, 192, 86, .8);
}

.status-started {
    background: rgba(255, 204, 102, .8);
    color: rgb(55, 47, 19);
    animation: pulse-started 2s linear infinite;
}

.status-failure {
    color: rgb(55, 26, 26);
    background: rgba(236, 122, 96, .8);
    animation: pulse-failure 2s linear infinite;
}

@keyframes pulse-started {
    0% {
        background: rgba(255, 204, 102, .95);
        color: rgb(55, 47, 19);
    }
    50% {
        background: rgba(255, 204, 102, .5);
        color: rgb(86, 66, 43);
    }
    100% {
        background: rgba(255, 204, 102, .95);
        color: rgb(55, 47, 19);
    }
}

.status .project {
    position: absolute;
    top: 12px;
    left: 150px;
    font-size: 50px;
}

.status .time {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}

.status .branch {
    position: absolute;
    top: 75px;
    left: 150px;
    font-size: 30px;
}

.no-connection {
    /* positioning */
    position: absolute;
    bottom: 50px;
    right: 50px;

    /* box-model */
    padding: 50px;
    border-radius: 50%;

    /* visual */
    background: rgba(236, 122, 96, .8);
    animation: pulse-failure 2s linear infinite;
}

.no-connection img {
    width: 100px;
    height: 100px;
}

@keyframes pulse-failure {
    0% {
        background: rgba(236, 122, 96, .95);
    }
    50% {
        background: rgba(236, 122, 96, .5);
    }
    100% {
        background: rgba(236, 122, 96, .95);
    }
}

.hidden {
    display: none;
}
