* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background: url('https://c4.staticflickr.com/3/2909/14831394931_83c79b508e_b.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Coda', cursive;
}

.status {
    /* positioning */
    position: relative;

    /* box-model */
    margin: 20px 20px 0 20px;
    height: 150px;
    overflow: hidden;

    /* visual */
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.status:last-child {
    /* box-model */
    margin-bottom: 20px;
}

.status-icon-box {
    /* positioning */
    position: absolute;
    top: 0;
    left: -25px;
    bottom: 0;

    /* box-model */
    height: auto;
    width: 150px;
    padding: 30px 10px 30px 25px;
    transform: skew(-19deg);
    text-align: center;

    /* visual */
    background: rgb(255, 204, 102);
}
.status.success .status-icon-box {
    /* visual */
    background: rgb(135, 192, 86);
}
.status.failure .status-icon-box {
    /* visual */
    background: rgb(236, 122, 96);
}

.status-icon-box img {
    /* box-model */
    height: 90px;

    /* box-model */
    transform: skew(19deg);
}

.status-title {
    /* positioning */
    position: absolute;
    top: 5px;
    left: 195px;

    /* visual */
    color: rgb(255, 204, 102);
}
.status.success .status-title {
    /* visual */
    color: rgb(135, 192, 86);
}
.status.failure .status-title {
    /* visual */
    color: rgb(236, 122, 96);
}

.status-title .title {
    /* box-model */
    transform: skew(-19deg);
    display: inline-block;

    /* typography */
    font-size: 50px;
}

.status-title .sub-title {
    /* box-model */
    padding-left: 10px;
    display: inline-block;

    /* typography */
    font-size: 26px;
}

.status-stages {
    /* positioning */
    position: absolute;
    bottom: 37px;
    left: 156px;

    /* box-model */
    height: 34px;
}

.status-jobs {
    /* positioning */
    position: absolute;
    bottom: 0;
    left: 143px;

    /* box-model */
    height: 34px;
}

.status-jobs .started {
    animation: pulse-started 2s ease-in-out infinite;
}

.job-container div {
    /* box-model */
    display: inline-block;
    transform: skew(-19deg);
    height: 34px;
    margin-right: 3px;

    /* visual */
    background: rgb(255, 204, 102);
    color: #202020;
}

.job-container span {
    /* box-model */
    display: block;
    padding: 2px 15px;

    /* typography */
    font-size: 20px;

    /* box-model */
    transform: skew(19deg);
}

.job-container .success {
    /* visual */
    background: rgb(135, 192, 86);
}
.job-container .failure {
    /* visual */
    background: rgb(236, 122, 96);
}
.job-container .allowed-failure {
    /* visual */
    background: rgb(236, 122, 96);
}
.status-stages .allowed-failure {
    /* positioning */
    position: relative;

    /* box-model */
    padding-right: 20px;

    /* visual */
    background: rgb(135, 192, 86);
}
.status-stages .allowed-failure:after {
    /* positioning */
    position: absolute;
    top: 5px;
    right: 8px;
    transform: skew(19deg);

    /* box-model */
    width: 22px;
    height: 22px;
    text-align: center;

    /* typography */
    font-weight: bold;

    /* visual */
    background: rgb(255, 204, 102);
    border-radius: 50%;

    /* misc */
    content: '!';
}
.job-container .todo {
    /* visual */
    background: rgba(255, 204, 102, 0.4);
}
.status.success .job-container .todo {
    /* visual */
    background: rgba(135, 192, 86, 0.4);
}
.status.failure .job-container .todo {
    /* visual */
    background: rgba(236, 122, 96, 0.4);
}

.status-info {
    /* positioning */
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;

    /* box-model */
    width: 155px;
    height: auto;
    padding-right: 10px;
    transform: skew(-19deg);
    overflow: hidden;

    /* visual */
    background: rgb(255, 204, 102);
    color: #202020;
}
.status.success .status-info {
    /* visual */
    background: rgb(135, 192, 86);
}
.status.failure .status-info {
    /* visual */
    background: rgb(236, 122, 96);
}
.status.allowed-failure .status-info {
    /* visual */
    background: rgb(19, 162, 209);
}

.status-time {
    /* positioning */
    position: absolute;
    bottom: 3px;
    left: 5px;

    /* box-model */
    transform: skew(19deg);
    width: 145px;
    text-align: center;
    padding-right: 5px;
    overflow: hidden;

    /* typography */
    font-size: 20px;

    /* misc */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status-face {
    /* box-model */
    transform: skew(19deg);
    height: 116px;
    width: 150px;
    margin-left: -20px;

    /* visual */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.no-connection {
    /* positioning */
    position: absolute;
    bottom: 50px;
    right: 50px;

    /* box-model */
    padding: 50px;
    border-radius: 50%;

    /* visual */
    background: rgba(236, 122, 96, .8);
    animation: pulse-failure 2s ease-in-out infinite;
}

.no-connection img {
    /* box-model */
    width: 100px;
    height: 100px;
}

@keyframes pulse-started {
    0% {
        background: rgba(255, 204, 102, .95);
    }
    50% {
        background: rgba(255, 204, 102, .5);
    }
    100% {
        background: rgba(255, 204, 102, .95);
    }
}

@keyframes pulse-failure {
    0% {
        background: rgba(236, 122, 96, .95);
    }
    50% {
        background: rgba(236, 122, 96, .5);
    }
    100% {
        background: rgba(236, 122, 96, .95);
    }
}
