$color-info: #64a9e8
$color-info-dark: darken($color-info, 5%)
$color-info-light: lighten($color-info, 5%)

$color-error: #e57064
$color-error-dark: darken($color-error, 5%)
$color-error-light: lighten($color-error, 5%)

$color-warning: #f8c147
$color-warning-dark: darken($color-warning, 5%)
$color-warning-light: lighten($color-warning, 5%)

$color-success: #8ac159
$color-success-dark: darken($color-success, 5%)
$color-success-light: lighten($color-success, 5%)
