$color-stages-gutter: 5px

$color-status-info: #5087b9
$color-status-error: #b75950
$color-status-warning: #f2a900
$color-status-success: #60873e

.theme__color-stages
    background: $color-antracite

    .statuses__container

    .status__container
        margin-top: 10px
        color: #333

        &:first-child
            margin-top: 0

        &.info
            .status__image-container,
            .status__user-image-container,
            .status__detail-title,
            .status__detail-sub-title,
            .status__detail-jobs-and-stages
                background: $color-info

            .status__detail-stage.pending,
            .status__detail-job.pending
                background: $color-info

        &.success
            .status__image-container,
            .status__user-image-container,
            .status__detail-title,
            .status__detail-sub-title,
            .status__detail-jobs-and-stages
                background: $color-success

            .status__detail-stage.pending,
            .status__detail-job.pending
                background: $color-success

        &.warning
            .status__image-container,
            .status__user-image-container,
            .status__detail-title,
            .status__detail-sub-title,
            .status__detail-jobs-and-stages
                background: $color-warning

            .status__detail-stage.pending,
            .status__detail-job.pending
                background: $color-warning

        &.error
            .status__image-container,
            .status__user-image-container,
            .status__detail-title,
            .status__detail-sub-title,
            .status__detail-jobs-and-stages
                background: $color-error

            .status__detail-stage.pending,
            .status__detail-job.pending
                background: $color-error

    .status__image-container
        padding: 20px
        flex-shrink: 0

    .status__image-container--no-image
        display: none

    .status__image
        width: 100px
        height: 100px
        background:
            position: center
            size: contain
            repeat: no-repeat
        border-radius: 3px

    .status__image--no-image
        display: none

    .status__detail-container
        display: flex
        flex-direction: column
        min-width: 0

    .status__detail-title
        order: 1
        padding: 10px 15px 5px
        flex-grow: 1

    .status__detail-sub-title
        order: 2
        padding: 0 15px 10px
        flex-grow: 10

    .status__detail-jobs-and-stages
        order: 3

    .status__detail-stages,
    .status__detail-jobs
        display: flex
        margin-top: $color-stages-gutter
        width: 100%

    .status__detail-stage,
    .status__detail-job
        flex: 1
        margin: $color-stages-gutter
        padding: 5px 15px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        min-width: 0
        border-radius: 5px
        box-shadow: 4px 4px 5px $color-gray-dark

        &:first-child
            margin-left: $color-stages-gutter

        &.error
            background: $color-status-error

        &.running
            background: $color-status-warning

        &.pending
            // color in top status states
            opacity: 0.5

        &.success
            background: $color-status-success

        &.warning
            background: $color-status-warning

        &.info
            background: $color-status-info

    .status__time-ago
        position: absolute
        right: 0
        bottom: 5px
        text-align: center
        width: 160px

    .status__time-ago--no-user-image
        // stand alone display for the time ago

    .status__user-image-container
        padding: 10px 30px 35px
        width: 100px
        flex-shrink: 0

    .status__user-image-container--no-image
        // added to the user image container when no user image is present

    .status__user-image
        width: 100px
        height: 100px
        background:
            position: center
            size: cover
            repeat: no-repeat
        border-radius: 50%

    .status__user-image--no-image
        display: none
