@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif !important;
}

.wy-nav-content {
    background: #fff !important;
    max-width: 1020px !important;
}

.wy-breadcrumbs-aside,
.wy-side-nav-search {
    display: none !important;
}

.wy-nav-side {
    padding: 20px 0 0 !important;
    background: #fff !important;
    height: 100% !important;
}

.wy-menu-vertical {
    border: 0 !important;
}

.wy-menu-vertical li.current {
    background: transparent !important;
}

.wy-nav-side a {
    color: #333333 !important;
    border: 0 !important;
    border-radius: 0 15px 15px 0;
    transition: background-color 300ms;
}

.wy-nav-side a:hover {
    background: #deead3 !important;
}

.wy-nav-side a.current {
    background: #8ac159 !important;
}

div[role='note'] {
    display: none;
}

img {
    border-radius: 5px;
}

footer {
    display: none;
}

.wy-nav-content-wrap {
    background: #fff !important;
}

.wy-nav-top {
    background: #333 !important;
    line-height: 30px;
}
