name: Test and lint
on:
  workflow_call:
jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install development dependencies
        run: yarn install --ignore-scripts

      - name: Run eslint check
        run: node_modules/.bin/eslint --ext ts,tsx .

  frontend-typescript:
    name: Frontend typescript
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install development dependencies
        run: yarn install --ignore-scripts

      - name: Check frontend typescript
        run: node_modules/.bin/tsc --noEmit --project ./frontend/tsconfig.json

  backend-typescript:
    name: Backend typescript
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install development dependencies
        run: yarn install --ignore-scripts

      - name: Check backend typescript
        run: node_modules/.bin/tsc --noEmit --project ./backend/tsconfig.json
